## Operators in Python 
1. Arithematic Operators
    - +,-,*,/,// %
8. Assignment Operators
    - =,+=,-=,*=,/=,%=
5. Comparision OPerators
    - ==,!=,>,<,>=,<=
2. Logical Operators
    - and,or,not
3. Bitwise Operators
    - &,|,^,~,<<,>>
4. Identity Operators
    - is,isnot
5. Membership Operators
    - in,notin

## Assignment Operators
    - =,+=,-=,*=,/=,%=

In [1]:
x=12

In [2]:
x+=1

In [3]:
x

13

In [4]:
x=x+1
x

14

In [5]:
y=10
y-=3  ## y=y-3
y

7

In [6]:
print(y)
y*=1 ## y=y*1
y

7

7

In [7]:
print(y)
y/=3# y=y/3
print(y)

7
2.3333333333333335

In [8]:
a=45
a%=2 ## a=a%2-->gives the reminder
print(a)

1

## Comparision OPerators
    - ==,!=,>,<,>=,<=

In [9]:
a1=56
a2=78
print(a1==a2)
print(a1!=a2)
print(a1>a2)
print(a1<a2)
print(a1>=a2)
print(a1<=a2)

False
True
False
True
False
True

## Logical Operators
    - and,or,not

|i/p1|i/p2|i/p1 and i/p2|i/p1 or i/p2|
|----|-----|------|-----|
|0|0|0|0|
|0|1|0|1|
|1|0|0|1|
|1|1|1|1|

In [10]:
s1,s2=12,23
s1<10 and s2<10

False

In [12]:
s1,s2=12,23
s1<10 or s2<10

False

In [13]:
s1<15 and s2>20

True

In [14]:
s1<15 or s2>20

True

In [15]:
s1<15 or s2>50

True

In [16]:
not(s1<15)

False

In [17]:
not(12==12)

False

## Bitwise Operators
    - Used to compare binary bits(0,1) of the numbers
    - &,|,^,~,<<,>>

In [25]:
x=2  ## 0010
y=3  ## 0011
     #-------
        #0010
x & y

2

In [26]:
x | y

3

In [29]:
print(x ^ y )
x=2   ## 0010
y=3   ## 0011
     #-------
        #0001

1

In [34]:
~3

-4

In [40]:
~4
#-(4+1)

-5

In [41]:
~(-5)
##-(-5+1)
##-(-4)

4

In [42]:
~(10)   ##    -(10+1)==-11

-11

In [43]:
~(-10) ## -(-10+1)==-(-9)==+9

9

In [45]:
~(~(-10)) ##-(-(-10+1))==>-(9+1)

-10

In [46]:
## >>-- divided with 2 up to given number of times
##<< ---multiplied with 2 up to given number of times

In [49]:
12>>2 ## 12/2=6 , 6/2=3

3

In [50]:
13>>4

0

In [52]:
25>>3 # 25/2=12 ,12/2=6,6/2=3

3

In [54]:
5 << 3  # 5*2=10,10*2=20,20*2=40

40

In [55]:
3<<1 #3*2=6

6

## Identity Operators
- compare the memory location of objets
    - is,isnot

In [56]:
x=[1,2,3]
y=[2,3,5]
print(x is y)

False

In [57]:
id(x)

2512589594304

In [58]:
id(y)

2512589593920

In [59]:
x=34
y=34
print(id(x))
print(id(y))
print(x is y)

140725149182784
140725149182784
True

In [60]:
x is not y

False

## Membership Operators
    - in,notin

In [64]:
a="apssdc"
'si' in a

False

In [65]:
'2' in a

False

In [66]:
'2' not in a

True

In [67]:
'ap' not in a

False

In [69]:
x='123'
'2' in x

True

In [70]:
x=[123,456]
123 in x

True

## Dynamical Input
- User given input
 - ex: enter a number
- syntax
    - input()

In [78]:
abc=input()
print(abc)

12
12

In [75]:
type(abc)

str

In [76]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplentedError if active frontend doesn't support stdin.

In [77]:
print(123)

123

In [81]:
## Take a integer  dynmical input and print it
a=int(input())
print(a)
print(type(a))

123
123
<class 'int'>

i/p:5
    2
o/p:7

## Task:
 - Take a two numbers dynamcally and perform arithemetic operations
 - print(the type of varibles)